<h1>Display Session Details</h1>
<ul class="fa-ul">
    <li><%= @session.date_played %></li>
    <li><%= @session.location %></li>
    <li><%= @session.game_type %></li>
    <li><%= @session.stakes %></li>
    <li><%= @session.hours_played %></li>
    <li><i class="fa-li fa fa-money"></i><%= @session.profit_or_loss %></li>
    <li><%= @session.notes %></li>
</ul>