<h1>New User Form</h1>

<%= form_for @user do |user| %>
  <%= user.label :email %>
  <%= user.text_field :email, placeholder: "Email" %>
  <br />

  <%= user.label :password %>
  <%= user.password_field :password, placeholder: "Password" %>
  <br />

  <%= user.label :password_confirmation %>
  <%= user.password_field :password_confirmation, placeholder: "Confirm Password" %>
  <br />

  <%= user.submit "Sign Up" %>
  <a href="/authentications/new">Already have an account? Sign in!</a>

<% end %>